[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
dj-rest-auth = "*"
django = "*"
django-allauth = "*"
django-celery-results = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
jsonschema = "*"
psycopg = "*"
django-avatar = "*"
python-dotenv = "*"
amqp = "*"
asgiref = "*"
astroid = "*"
attrs = "*"
autopep8 = "*"
billiard = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
colorama = "*"
coverage = "*"
cryptography = "*"
defusedxml = "*"
distlib = "*"
django-appconf = "*"
django-extensions = "*"
django-cors-headers = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
django-stubs-ext = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
dnspython = "*"
drf-spectacular = "*"
exceptiongroup = "*"
filelock = "*"
flake8 = "*"
gunicorn = "*"
idna = "*"
inflection = "*"
iniconfig = "*"
isort = "*"
jsonschema-specifications = "*"
kombu = "*"
maturin = "*"
mccabe = "*"
mypy = "*"
mypy-extensions = "*"
oauthlib = "*"
packaging = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
prompt-toolkit = "*"
psutil = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
pyperf = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
python-dateutil = "*"
python3-openid = "*"
PyJWT = "*"
PyYAML = "*"
referencing = "*"
requests = "*"
requests-oauthlib = "*"
rpds-py = "*"
six = "*"
sqlparse = "*"
tomlkit = "*"
tomli = "*"
types-jsonschema = "*"
types-pytz = "*"
types-PyYAML = "*"
types-requests = "*"
typing_extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
uwsgi = "*"
virtualenv = "*"
wcwidth = "*"

[dev-packages]
celery-types = "*"
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
flake8 = "*"
types-jsonschema = "*"

[requires]
python_version = "3.12"